{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="home-container">
        <h1>Welcome to the Student Records</h1>
        <div class="home-links">
            <a href="{% url 'form_page' %}">Add a Student</a>
            <a href="{% url 'display_page' %}">View Students</a>
        </div>
    </div>
</body>
</html>
